<html>
    <head>
        <title>Registration Form for an event0</title>
    </head>
    <body>
        <center>
            <form action="\submit" method="post">
                Enter Name: <input type="text" name="username"><br>
                Enter RollNo.: <input type="text" name="rollno"><br>
                Enter Email ID: <input type="email" name="email"><br>
                Academic Year:
                <select name="year">
                    <option value="I">I</option>
                    <option value="II">II</option>
                    <option value="III">III</option>
                    <option value="IV">IV</option>
                </select><br>
                <input type="submit" name="submit">
            </form>
        </center>
    </body>
</html>